.header__lang-link {
  min-width: 29px;
  margin-right: 18px;
}

.header__lang-link:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.header__lang-link:last-child {
  margin-right: 0;
}

