@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

* {
  outline: 1px dashed red; 
}

.page {
  background-color: #2A2C2F;
  width: 1280px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 400;
  margin: 0 auto;
  padding: 28px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* box-sizing: border-box; */

  -webkit-font-smoothing: antialiased;
}

.header {
  width: 1184px;
  height: 52px;
  /* padding-left: 48px;
  padding-right: 48px; */
  display: flex;
  /* box-sizing: border-box; */
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  font-size: 24px;
  width: 77px;
  height: 28px;
  line-height: 28px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 6px 0;
}

.header__lang-link_ru {
  /* padding-right: 18px; */
  min-width: 29px;
  margin-right: 18px;
}

.header__lang-link_en {
  min-width: 29px;
}

/* __lang-link */

.header__lang-link_ru:hover {
  text-decoration-line: underline;
  cursor: pointer;
}


.header__lang-link_en:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

/*конец header*/

/* lead начало*/

.lead {
  width: 984px;
  min-height: 1005px;
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.lead__title {
  width: 720px;
  min-height: 200px;
  font-size: 96px;
  line-height: 100px;
  padding-bottom: 32px;
  text-align: center;
  margin: 0;
  font-weight: 900;
}

.lead__subtitle {
  width: 640px;
  min-height: 72px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.lead__image {
  width: 984px;
  height: 615px;
  padding-top: 64px;
  padding-bottom: 8px;
}

.lead__caption {
  max-width: 984px;
  min-height: 14px;
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  align-self: flex-start;
  letter-spacing: 1.5px;
}

/*конец lead*/

/*intro начало*/

.intro {
  width: 690px;
  min-height: 429px;
  align-self: flex-start;
  padding-left: 148px;
  padding-top: 92px;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
  /* padding-top: 40px; */
  font-weight: 900;
}

.intro__text {
  font-size: 16px;
  line-height: 163%;
  margin: 0 0 33px 0;
}

.intro__list {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.intro__list_style {
  font-weight: 700;
}

/*конец intro*/

/*photo -grid начало*/


.photo-grid {
  width: 1184px;
  min-height: 671px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  padding-top: 92px;
}

.photo-grid__style {
  width: 100%;
}

/*photo -grid конец*/

/*начало places*/

.places {
  /* width: 984px;
  min-height: 660px; */
  /* display: grid;
  grid-template-rows: repeat(5, 1fr 48px 1fr 1fr 80px);
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px; */
  /* grid-row-gap: 1em; */
  margin-top: 92px;
}

.place {
  width: 984px;
  min-height: 584px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(46px,min-content) 460px;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  /* margin-top: 104px; */
  margin-bottom: 80px;
}

/* .place:nth-child(1) {
  margin-bottom: 72px;
} */

.place__title {
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  font-weight: 900;
}

.place__website {
  align-self: flex-end;
}

.place__website_url-heding {
  font-size: 12px;
  line-height: 12px;
  color: #aaa;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 0 12px;

}

.place__website_link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
}

.place__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  font-weight: 400;
 }


 .place__paragraph:first-child {
   padding-bottom: 26px;
 }

 /*конец places*/

 /*начало cover*/

 .cover {
  width: 1184px;
  height: 740px;
  background-image: url(./images/cover-trains.jpg);
  margin-top: 8px;
  background-size: cover;
  position: relative;
 }

 .cover__overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

 .cover__title {
  width: 560px;
  height: 152px;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
  font-weight: 900;
  z-index: 1;
  color: #fff;
  }

 .cover__subtitle {
  width: 360px;
  min-height: 66px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #fff;
 }


.footer{
  width: 1184px;
  height: 18px;
  margin: 92px auto 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.footer__link {
  text-decoration: none;
  color: #fff;
  padding-right: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer__copyright {
  margin: 0;
}


 @media (max-width: 1123px) {
  .cover {
    margin-bottom: 88px;
  }
}
 
