.footer__link {
  text-decoration: none;
  color: #fff;
  padding-right: 18px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: block;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

@media (max-width: 700px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
    }
}

@media (max-width: 700px) {
  .footer__link:last-child {
    margin-bottom: 0;
    }
}
