
@font-face { 
  src: url(./Inter-web/Inter-Regular.woff) format('woff'),
       url(./Inter-web/Inter-Regular.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(./Inter-web/Inter-Black.woff) format('woff'),
  url(./Inter-web/Inter-Black.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: bold;
}
