.intro {
  max-width: 690px;
  padding-top: 92px;
  position: relative;
  right: 147px;
}

@media (max-width: 1080px) {
  .intro {
    position: static;
    align-self: flex-start;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 104px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 88px;
  }
}

@media (max-width: 400px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 64px;
  }
}