.intro {
  max-width: 690px;
  padding-top: 92px;
  align-self: flex-start;
  margin-left: 148px;
}

@media (max-width: 1080px) {
  .intro {
    margin-left: 48px;
    padding-top: 104px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
    padding: 88px 24px 0;
  }
}

@media (max-width: 400px) {
  .intro {
    margin: 0 auto;
    max-width: 288px;
    padding: 64px 16px 0;
  }
}