.cover__title {
  max-width: 560px;
  /* height: 152px; */
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;
  font-weight: 900;
  z-index: 1;
  color: #fff;
  }

  @media (max-width: 600px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
  }