.footer {
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 92px auto 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    margin: 64px 16px 24px;
  }
}
